spring.profiles.active=prod
mail.protocol=ews

mail.username=user@company.com
mail.password=

ews.url=https://mail.company.com/EWS/Exchange.asmx
ews.autodiscover=false
ews.domain=
ews.auth-type=NTLM
mail.test-connection.timeout-seconds=15
mail.test-connection.max-folders-to-scan=500

# SMTP — Future (отправка черновиков)
smtp.host=mail.company.com
smtp.port=587
smtp.starttls=true
